    .web-header {
        margin-top: 20px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }

      .shipping {
        padding-left: 50px
      }

      .shipping-details {
        margin-left: 2px;
        color: green;
        font-size: 20px;
        text-decoration: underline;
      }

      .shipping-details:hover {
        cursor: pointer;
      }

      .web-name {
        width: 300px;
        cursor: pointer;
      }

      #web-image {
        /* set image fit into the div */
        max-width: 100%;
        max-height: 100%;
      }

      #search-input {
        background-image: url("image/search-icon.jpg");
        background-position: left;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        width: 300px;
        height: 40px;
        padding-left: 20px;
        padding-right: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
      }

      .searchbar-and-users {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #user-image {
        /* set image fit into the div */
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
      }

      .user-bag {
        height: 60px;
      }

      #user-cart {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
      }

      .add-product-button{
        border-radius: 20px;
        width: 140px;
        height: 40px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        background: #000000;
        color: #FFFFFF;
        transition: 0.15s ease-in-out
      }

      .add-product-button:hover{
        transform:scale(1.1) translate(0px, -5px);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      }

      hr {
        height: 1px;
        color: #ccc;
        background: #ccc;
        font-size: 0;
        border: 0;
      }
