.container {
    width: 100vw;
    height: 100vh;
    background-color: #FFE7DF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-bottom: 0;
}

.left-side-wrapper {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.left-side {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;
    margin-left: 3%;
    overflow: hidden;
}

.left-image {
    margin-left: -70%;
    margin-top: -40%;
    width: 400%;
    height: 200%;
    object-fit: cover;
}

.auth-form {
    width: 70%;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 30px;

}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
}

.login-title {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.username-part {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.username-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form > label > span {
    color:#7A5C61;
    font-weight: 600;
}

.login-form > label > input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #FF6FAE;
    box-shadow: 0 0 0 3px rgba(255, 111, 174, 0.15);
    transition: 0.35s ease-in-out;
    height: 25px;
    background-image:url("auth_image/username-icon.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 40px;
}

#username-input:focus {
    outline: none;
    border: 3px solid #F472B6;
}

#username-input::placeholder {
    padding-left: 5px;
    padding-right: 10px;
    color: #C9A9AE;
    font-weight: 400;
    letter-spacing: 0.2px;
}


.password-part {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#password-input {
    background-image:url("auth_image/visibility-icon.png")
}

#password-input::placeholder {
    padding-left: 5px;
    padding-right: 10px;
    color: #C9A9AE;
  font-weight: 400;
  letter-spacing: 0.2px;

}

#password-input:focus {
    outline: none;
    border: 3px solid #F472B6;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    cursor: pointer;
}

.forgot-password:hover {
    color: chocolate
}

.login-btn-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

}

.login-btn {
    background: lightpink;
    cursor: pointer;
    width: 40%;
    padding: auto;
    height: 44px;
    min-height: 44px;
    color: white;
    transition: 0.35s ease-in-out;
    border-radius: 10px;
}

.login-btn:hover {
    transform: scale(1.02);
}

.seperator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.seperator::before,
.seperator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .30em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.other-authen-options {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}

.facebook-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3B82F6;
    color: white;
    border-radius: 10px;
    transition: 0.35s ease-in
}

.facebook-div {
    width: 50px;
    display: flex;
    flex-direction: row;
}

.facebook-image {
    width: 100%;
}

.facebook-login:hover {
    background: #2563EB;
}

.google-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F9FAFB;
    color: #374151;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    transition: 0.25s ease-in-out;

}

.google-div {
    width: 50px;
    display: flex;
    flex-direction: row;
}

.google-image {
    width: 100%;
}

.google-login:hover {
    background: #F3F4F6;
    cursor: pointer;
}

.redirect-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}








/* here is for the signup form */
.signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form>label {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-form>label>input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #FF6FAE;
    box-shadow: 0 0 0 3px rgba(255, 111, 174, 0.15);
    transition: 0.35s ease-in-out;
    height: 25px;
    background-image:url("auth_image/name-icon.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 45px;
}

.signup-form>label>input:focus {
    outline: none;
    border: 3px solid #F472B6;
    transition: 0.15s ease-in-out;
    box-shadow: 0 0 0 3px rgba(255, 111, 174, 0.15);
}

.signup-form > label > input::placeholder {
    color: #C9A9AE;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.password-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.already-have-account {
    margin-top: 20px;
}

.move-to-signup {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.helper-text {
    font-size: 13px;
    margin-top: 4px;
    color: #E4697A;
    font-weight: 500;
}

.signup-button {
    width: 30%;
    height: 40px;
    background-color: #FF6FAE;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #FF4F9A;
}

.password-not-match {
    font-size: 13px;
    margin-top: 4px;
    color: #E4697A;
    font-weight: 500;
}

.matching-password {
    color: #FF6FAE;
}